/* ================= */
/* => Below 1376px (Small Laptops) <= */
/* ================= */
@media (max-width: 86em) {
  .hero-container {
    max-width: 120rem;
  }
}

/* ================= */
/* => Below 1248px (Landscape Tablets) <= */
/* ================= */
@media (max-width: 78em) {
  html {
    /* 9px */
    font-size: 56.25%;
  }

  .primary-heading {
    /* Equating the 44px according to current font-size (i.e. 4.8rem === ~44px) */
    font-size: 4.8rem;
  }

  .secondary-heading {
    font-size: 3.6rem;
  }

  .tertiary-heading {
    font-size: 3rem;
  }

  .container {
    padding: 0 3.2rem;
  }

  .grid {
    column-gap: 3.2rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 1.6rem 3.2rem 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero-container {
    padding: 0 3.2rem;
    gap: 3.2rem;
  }

  .step--heading {
    font-size: 2.8rem;
  }

  .stats-box {
    padding: 6.4rem 0;
  }

  .testimonial-box {
    max-width: 105rem;
    height: 45rem;
  }

  .testimonial {
    height: 45rem;
  }

  .plan-box {
    padding: 4.8rem 2.4rem;
  }
}

/* ================= */
/* => Below 976px (Tablets) <= */
/* ================= */
@media (max-width: 61em) {
  html {
    font-size: 50%;
  }

  .primary-heading {
    font-size: 4.4rem;
  }

  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    backdrop-filter: blur(5px);
    background-color: rgb(255, 255, 255, 0.9);
    transform: translateY(-100%);
    transition: all 0.5s ease-in;
  }

  .nav-open .main-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
  }

  .main-nav-list {
    flex-direction: column;
    justify-content: center;
    gap: 8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
    row-gap: 6.4rem;
    padding: 0 6.4rem;
  }

  .hero-stats {
    width: 100%;
    margin: 3.2rem auto 0 auto;
    text-align: center;
    justify-content: center;
  }

  .hero-icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  .stats-logo {
    height: 3rem;
  }

  .hero-img {
    width: 62%;
  }

  .tab-content {
    padding: 4.8rem 3.2rem;
  }

  .step--heading {
    font-size: 2.4rem;
    gap: 1.4rem;
  }

  .step--num {
    width: 4.8rem;
    height: 4.8rem;
  }

  .section-feature .grid:not(:last-child) {
    grid-template-columns: repeat(2, 1fr);
  }

  .stats-box {
    padding: 4.8rem 0;
    width: 97.75%;
  }

  .stat-num {
    font-size: 3.6rem;
  }

  .testimonial {
    padding: 1.6rem 4.8rem 1.6rem 6.4rem;
  }

  .testimonial-box {
    max-width: 85rem;
    height: 40rem;
  }

  .testimonial-text {
    font-size: 2.4rem;
  }

  .testimonial {
    height: 40rem;
  }

  .plan-box {
    padding: 4.8rem 1.6rem;
  }

  .plan-price {
    font-size: 4.4rem;
  }

  .partners-logo img {
    width: 50%;
  }

  .cta {
    height: 40rem;
  }

  .cta-content .sub-heading {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }

  .cta-content .secondary-heading {
    font-size: 3rem;
  }

  .cta-text {
    margin-bottom: 3.2rem;
  }
}

/* ================= */
/* => Below 752px (Smaller Tablets) <= */
/* ================= */
@media (max-width: 47em) {
  .grid {
    column-gap: 2.4rem;
  }

  .tertiary-heading {
    font-size: 3rem;
    margin-bottom: 3.2rem;
  }

  .hero-img {
    width: 85%;
  }

  .tab-content {
    padding: 4.8rem 2.4rem;
  }

  .tab-content-img {
    width: 106%;
  }

  .btn-tab {
    padding: 1.2rem 2rem;
    font-size: 1.8rem;
  }

  .tab-text {
    font-size: 1.8rem;
  }

  .btn--tab-content:link,
  .btn--tab-content:visited {
    font-size: 1.6rem;
  }

  .section-how .grid {
    column-gap: 4.8rem;
  }

  .step-img-box img {
    width: 100%;
  }

  .step--num {
    padding: 0.8rem 1.6rem;
  }

  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .stats-box.grid {
    row-gap: 4.8rem;
  }

  .stat:last-child {
    grid-column: 1 / -1;
  }

  .testimonial {
    padding: 1.2rem 2.4rem 1.2rem 4.8rem;
  }

  .testimonial-box {
    max-width: 65rem;
    height: 35rem;
  }

  .testimonial-text {
    font-size: 2rem;
  }

  .testimonial {
    height: 35rem;
  }

  .plan--full {
    grid-row: 1;
    grid-column: 1 / -1;
    justify-self: center;
  }

  .plan--basic,
  .plan--medium {
    grid-row: 2;
  }

  .plan--basic {
    align-self: stretch;
  }

  .cta {
    height: 35rem;
  }

  .cta-content {
    width: 68%;
    top: 12%;
  }

  .cta-content::after {
    top: -10%;
  }

  .cta-content .sub-heading {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }

  .cta-content .secondary-heading {
    font-size: 3rem;
  }

  .cta-text {
    margin-bottom: 3.2rem;
  }

  .footer {
    padding: 9.6rem 3.2rem;
  }

  .grid--footer {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    column-gap: 12.8rem;
    row-gap: 6.4rem;
  }

  .company-box {
    grid-row: 2;
  }
}

/* ================= */
/* => Below 544px (SmartPhones) <= */
/* ================= */
@media (max-width: 34em) {
  .primary-heading {
    font-size: 3.6rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .grid--6-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero-container {
    padding: 0 4.8rem;
  }

  .hero-img {
    width: 100%;
  }

  .stats-text {
    font-size: 1.6rem;
  }

  .hero-icon {
    width: 1.6rem;
    height: 1.6rem;
  }

  .hero-container .btn.btn--big {
    margin-bottom: 1.2rem;
  }

  .btn.btn--big,
  .btn.btn--border {
    padding: 1.6rem;
  }

  .btn-tab {
    font-size: 1.6rem;
  }

  .tab-content-img {
    grid-row: 1;
  }

  .step:first-child .step-img-box,
  .step:nth-child(3) .step-img-box {
    grid-row: 1;
  }

  .section-feature .grid:not(:last-child) {
    grid-template-columns: 1fr;
  }

  .testimonial {
    grid-template-columns: 1fr;
  }

  .testimonial-img {
    grid-row: 1;
    justify-self: center;
    width: 45%;
  }

  .testimonial-box {
    max-width: 42rem;
    height: 45rem;
  }

  .testimonial-text {
    font-size: 1.8rem;
  }

  .testimonial-author {
    font-size: 1.6rem;
  }

  .testimonial {
    height: 45rem;
  }

  .testimonial-btns {
    left: 3%;
  }

  .plan--full {
    justify-self: center;
    grid-row: 2;
  }

  .plan--basic,
  .plan--medium {
    grid-row: 1;
    justify-self: center;
  }

  .plan--medium {
    grid-row: 3;
    justify-self: center;
  }

  .pricing-info-text {
    padding: 0 1.2rem;
    line-height: 1.6;
  }

  .partners-logo img {
    width: 35%;
  }

  .cta-gap,
  .cta-img-box {
    display: none;
  }

  .cta {
    min-height: min-content;
    border-radius: 0;
    box-shadow: none;
  }

  .cta-content {
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 1rem;
  }

  .cta-content::after {
    width: 85%;
    top: -10%;
    border-radius: 1rem;
  }

  .footer {
    padding: 9.6rem 1.2rem;
  }

  .grid--footer {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 3.2rem;
    row-gap: 6.4rem;
  }

  .section-service,
  .section-how,
  .section-feature,
  .section-testimonial,
  .section-pricing,
  .section-partners,
  .section-cta,
  .footer {
    padding: 8rem 0;
  }
}
